<mat-drawer-container
  id="cart-menu-container"
  [hasBackdrop]="true"
  (click)="changePointersEvents()"
>
  <mat-drawer #drawer [mode]="'over'">
    <div class="cart-menu">
      <h2>Cart Itens</h2>
      <mat-divider></mat-divider>
      @for (item of cartItens; track $index) {
      <div class="cart-item-container">
        <div class="cart-item-main">
          <img [src]="item.imgSRC" [alt]="item.imgALT" />
          <mat-divider [vertical]="true"></mat-divider>
          <div class="cart-item-about">
            <h3>{{ item.title }}</h3>
            <span>quantity: {{ item.quantity }}</span>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      }
    </div>
  </mat-drawer>
</mat-drawer-container>
