#cart-menu-container {
  position: fixed;
  width: 100%;
  height: calc(100% - 60px);
  margin-top: 60px;
  background-color: transparent;
  z-index: 5;
  pointer-events: none;

  mat-drawer {
    border-radius: 0%;
    background-color: #f1f6f9;

    .cart-menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      flex-direction: column;
      padding: 20px;

      .cart-item {
      }
    }
  }
}
