#catalog-container {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  justify-self: center;
  padding-top: 20px;

  h2 {
    text-align: center;
    padding: 20px;
    width: 100%;
  }
}
