#catalog-container {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  justify-self: center;

  h2 {
    text-align: center;
    padding: 20px;
    width: 100%;
  }

  .commun,
  .magic,
  .legendary {
    border-radius: 10px;
  }
  .commun {
    background-color: gainsboro;
  }
  .magic {
    background-color: aqua;
  }
  .legendary {
    background-color: gold;
  }
}
