<mat-card class="card-container" appearance="outlined">
  <button
    mat-icon-button
    class="button-wish-list"
    aria-label="A button to add this item to your wish list"
  >
    <mat-icon>add_box</mat-icon>
  </button>
  <div class="img-container">
    <img mat-card-image src="{{ imgSRC }}" alt="Photo of a Shiba Inu" />
  </div>
  <mat-card-content>
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-subtitle>{{ description }}</mat-card-subtitle>
  </mat-card-content>
  <mat-card-subtitle class="price">{{ price | currency }}</mat-card-subtitle>
  <button mat-button class="button-add-to-cart" (click)="openTheCart()">
    ADD TO CART
  </button>
</mat-card>
