<mat-card class="card-container" appearance="outlined">
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <mat-card-title>HUGE TITLE</mat-card-title>
    <mat-card-subtitle>PRICE</mat-card-subtitle>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button class="button-add-to-cart">ADD TO CART</button>
    <button mat-icon-button class="button-wish-list">
      <mat-icon>add_box</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
