// NEED TO TRANSFORM THESE STYLES, IN GLOBAL STYLES?

#card-container {
  max-width: 400px;
  min-height: 800px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;

  .button-wish-list {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 10px;

    mat-icon {
      font-size: 25px;
    }
  }

  .img-container {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 100%;
      width: auto;
      object-fit: contain;
      padding: 20px;
    }
  }
}
