<mat-card
  [ngClass]="{ 'legendary-katana': newlyAddedKatana.class === 'legendary' }"
  id="card-container"
  appearance="outlined"
>
  <button
    mat-icon-button
    class="button-wish-list"
    aria-label="A button to add this item to your wish list"
  >
    <mat-icon>add_box</mat-icon>
  </button>
  <div class="img-container">
    <img
      mat-card-image
      [src]="newlyAddedKatana.imgSRC"
      [alt]="newlyAddedKatana.imgALT"
    />
  </div>
  <mat-card-content>
    <mat-card-title>{{ newlyAddedKatana.title }}</mat-card-title>
    <mat-card-subtitle>{{ newlyAddedKatana.description }}</mat-card-subtitle>
  </mat-card-content>
  <div class="card-about">
    <div class="chip">{{ newlyAddedKatana.class | titlecase }}</div>
    <mat-card-subtitle class="price">{{
      newlyAddedKatana.price | currency
    }}</mat-card-subtitle>
    <button
      [disabled]="
        cartService.disableButton(newlyAddedKatana.id, newlyAddedKatana)
      "
      mat-button
      (click)="handleButtonClick()"
    >
      ADD TO CART
    </button>
  </div>
</mat-card>
