<mat-drawer-container
  id="user-drawer"
  [hasBackdrop]="true"
  (click)="changePointersEvents()"
>
  <mat-drawer #userSideNav position="end" [mode]="'over'" class="drawer">
    <div class="user-container">
      <h1>Welcome USER</h1>
      <button mat-button aria-label="Cart button" (click)="toggleCartDrawer()">
        <mat-icon aria-hidden="false">shopping_cart</mat-icon>
        Cart ({{ cartService.getTotalQuantityCartItems() }})
      </button>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content"></div>
</mat-drawer-container>
