#user-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 15;
  pointer-events: none;

  .drawer {
    border-radius: 0%;
    background-color: #f1f6f9;
    width: 40%;
  }
}

@media (max-width: 768px) {
  #user-container {
    .drawer {
      width: 80%;
    }
  }
}
