@if(lastAddedKatana.katanaCategory) {
<section
  [class]="'section ' + lastAddedKatana.katanaCategory.class + '-background'"
>
  <h1
    [style]="
      lastAddedKatana.katanaCategory.class === 'common'
        ? 'color: black'
        : 'color: #fff'
    "
  >
    Look Our Brand New Katana
  </h1>
  <div class="last-added-katana-container">
    <div class="last-added-katana-img">
      <img
        [src]="lastAddedKatana.katanaCategory.imgSRC"
        [alt]="lastAddedKatana.katanaCategory.imgALT"
      />
    </div>
    <div [class]="'last-added-katana-' + lastAddedKatana.katanaCategory.class">
      <h1>{{ lastAddedKatana.katanaCategory.title }}</h1>
      <div [class]="'chip-' + lastAddedKatana.katanaCategory.class">
        {{ lastAddedKatana.katanaCategory.class | titlecase }}
      </div>
      <span>{{ lastAddedKatana.katanaCategory.price | currency }}</span>
      <div class="addToCart-button-container">
        <button
          mat-button
          class="addToCart-button"
          [disabled]="isButtonDisabled()"
          (click)="handleButtonClick()"
        >
          {{ isButtonDisabled() ? "OUT OF STOCK" : "ADD TO CART" }}
        </button>
      </div>
      <mat-divider></mat-divider>
      @if(lastAddedKatana) { @if(isCommonKatana(lastAddedKatana.katanaCategory))
      {
      <div>
        <p>{{ lastAddedKatana.katanaCategory.description }}</p>
      </div>
      } @else if(isCursedKatana(lastAddedKatana.katanaCategory)) {
      <div>
        <p>{{ lastAddedKatana.katanaCategory.description }}</p>
        <p>
          <strong>Curse:</strong>
          {{ lastAddedKatana.katanaCategory.curseTitle }}
        </p>
        <p>
          <strong>Curse's Description:</strong>
          {{ lastAddedKatana.katanaCategory.curseDescription }}
        </p>
      </div>
      } @else if(isLegendaryKatana(lastAddedKatana.katanaCategory)) {
      <div>
        <p>{{ lastAddedKatana.katanaCategory.description }}</p>
        <p>
          <strong>Ancient Swordsman:</strong>
          {{ lastAddedKatana.katanaCategory.ancientSwordsman }}
        </p>
        <p>
          <strong>Legend:</strong> {{ lastAddedKatana.katanaCategory.legend }}
        </p>
        <p>
          <strong>Dormant Power Name:</strong>
          {{ lastAddedKatana.katanaCategory.dormantPowerName }}
        </p>
        <p>
          <strong>Dormant Power Description:</strong>
          {{ lastAddedKatana.katanaCategory.dormantPowerDescription }}
        </p>
      </div>
      } @else if(isMagicKatana(lastAddedKatana.katanaCategory)) {
      <div>
        <p>{{ lastAddedKatana.katanaCategory.description }}</p>
        <p>
          <strong>Spell:</strong>
          {{ lastAddedKatana.katanaCategory.spellName }}
        </p>
        <p>
          <strong>Spell Description:</strong>
          {{ lastAddedKatana.katanaCategory.spellDescription }}
        </p>
      </div>
      } } @else {
      <h1>ERROR</h1>
      }
      <mat-divider></mat-divider>
    </div>
  </div>
</section>
} @else {
<h1>Loading...</h1>
}
