section {
  background-color: red;

  h1 {
    text-align: center;
    padding-top: 20px;
  }
  .last-added-katana-container {
    width: 100%;
    background-color: aqua;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .last-added-katana-img {
      width: 50%;
      height: 100%;
      background-color: rgb(250, 255, 176);
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: auto;
        max-height: 100%;
        padding: 50px;
      }
    }

    .last-added-katana {
      padding: 50px;
      width: 50%;
      height: 100%;
      background-color: bisque;
      text-align: justify;

      div {
        p {
          margin-top: 10px;
        }
      }
    }
  }
}
