#footer-container {
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: #14274e;
  color: #fff;

  .footer-content {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;

    .start {
      align-items: self-start;
      gap: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;

      p {
        text-align: justify;
        height: fit-content;
      }
    }
    .middle {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      flex: 1;

      .social {
        display: flex;
        justify-content: space-evenly;
        width: 100%;

        div {
          display: flex;
          justify-content: space-evenly;

          position: relative;
          cursor: pointer;

          &::before {
            content: "";
            position: absolute;
            top: 5%;
            left: 5%;
            width: 90%;
            height: 90%;
            background-color: aliceblue;
            border-radius: 50%;
            z-index: 0;
          }
          img {
            position: relative;
            width: 50px;
            height: auto;
            z-index: 1;
          }
        }
      }
    }

    .end {
      align-items: self-end;
      flex: 1;

      form {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;

        mat-form-field {
          width: 100%;
        }
        button {
          background-color: #0f1d39;
          color: #fff;
        }
      }
    }
  }

  .footer-bottom {
    width: 100%;

    .footer-bottom-nav {
      display: flex;
      width: 100%;
      min-height: 70px;
      background-color: #0f1d39;
      align-items: center;
      justify-content: space-around;
      border-top: 1px solid #fff;

      .routes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 40%;

        li {
          cursor: pointer;
        }
      }

      a {
        display: flex;
        align-items: center;
      }
      .button-back-to-top {
        display: flex;
        align-items: center;
        justify-content: space-around;

        span {
          cursor: pointer;
        }
      }
    }

    .footer-bottom-bar {
      display: flex;
      width: 100%;
      min-height: 30px;
      align-items: center;
      color: #ffffff7e;
      background-color: #0f1d39;
      justify-content: center;
      border-top: 1px solid #ffffff7e;
    }
  }
}
