<nav class="nav-bar" [ngStyle]="navBarStyles">
  <a routerLink="/home" class="logo">⚔</a>
  <!-- ROUTES -->
  <div class="routes">
    <a routerLink="/about">About</a>
    <a routerLink="/legendary">Legendary</a>
    <a routerLink="/magic">Magic</a>
    <a routerLink="/cursed">Cursed</a>
    <a routerLink="/common">Common</a>
  </div>
  <button mat-icon-button aria-label="Cart button" (click)="openTheCart()">
    <mat-icon
      [ngStyle]="navBarStyles"
      [matBadge]="cartService.getQuantityCartItems()"
      aria-hidden="false"
      >shopping_cart</mat-icon
    >
  </button>
</nav>
